<!doctype html>
<html ng-app="dayOutapp">

<head>
    <meta charset="utf-8">
    <title>Day Out App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<!--<body ng-app="dayOutApp">-->
<!--fonts awesome-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">dayOut</a>
                </div>
                <div class="collapse navbar-collapse" id="js-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/">Home</a></li>
                        <li><a ng-href="#/about">About</a></li>
                        <li><a ng-href="#/">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-view=""></div>
        <div class="navpills">
            <ul ng-init="tab = 1" class="nav nav-pills">
                <li ng-class="{active:tab===1}" class="active"><a href ng-click="tab = 1">Beaches</a></li>
                <li ng-class="{active:tab===2}"><a href ng-click="tab = 2">Nightlife</a></li>
                <!-- <li><a href="#">Nightlife</a></li>-->
                <li ng-class="{active:tab===3}"><a href ng-click="tab = 3">Restaurants</a></li>
                <li ng-class="{active:tab===4}"><a href ng-click="tab = 4">Events</a></li>
                <li ng-class="{active:tab===5}"><a href ng-click="tab = 5">Attractions</a></li>
            </ul>
        </div>
        <div id="beaches" ng-controller="BeachesListCtrl as beaches">
            <ol ng-show="tab === 1"><i class="fa fa-sun-o fa-2x"></i> Beaches:
                <li ng-repeat="beach in beaches"> {{beach.name}}
                    <a href ng-click="#beach"><i class="fa fa-link"></i> click here to View More</a>
                </li>
            </ol>
        </div>
        <div id="nightlife" ng-controller="NightlifeListCtrl as nightlifeplaces">
            <ol ng-show="tab === 2"><i class="fa fa-glass fa-2x"></i> Nightlife:
                <li ng-repeat="nightlife in nightlifeplaces"> {{nightlife.name}}
                    <a href={{nightlife.website}}><i class="fa fa-link"></i> Visit their site</a>
                </li>
            </ol>
        </div>
        <div id="restaurants" ng-controller="RestaurantsListCtrl as restaurants">
            <ol ng-show="tab === 3"><i class="fa fa-cutlery fa-2x"></i> Restaurants:
                <li ng-repeat="restaurant in restaurants"> {{restaurant.name}}
                    <a href={{restaurant.website}}><i class="fa fa-link"></i> Visit their site</a>
                </li>
            </ol>
        </div>
        <div id="events" ng-controller="EventsListCtrl as events">
            <ol ng-show="tab === 4"><i class="fa fa-calendar fa-2x"></i> Events:
                <li ng-repeat="event in events"> {{event.name}}
                    <a href={{event.website}}><i class="fa fa-link"></i> Visit their site</a>
                </li>
            </ol>
        </div>
        <div id="attractions" ng-controller="AttractionsListCtrl as attractions">
            <ol ng-show="tab === 5"><i class="fa fa-smile-o fa-2x"></i> Attractions:
                <li ng-repeat="attraction in attractions"> {{attraction.name}}
                    <a href={{attraction.website}}><i class="fa fa-link"></i> Visit their site</a>
                </li>
            </ol>
        </div>
        <!--</div>-->
        <div class="footer">
            <div class="container">
                <p><span class="glyphicon glyphicon-copyright-mark"></span> 2015 DayOutApp team</p>
            </div>
        </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <!--<script src="/Users/vanessa/Desktop/Day-Out/bower_components/angular/angular.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/dayOutcontrollers.js"></script>
    <!-- endbuild -->
</body>

</html>
