<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<!--<body ng-app="dayOutApp">-->
<!--fonts awesome-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">

<body>
    <div id="beaches" ng-controller="BeachesListCtrl as beaches">
        <ol ng-show="tab === 1"><i class="fa fa-sun-o fa-2x"></i> Beaches:
            <li ng-repeat="beach in beaches | filter:query | orderBy:'name'"> {{beach.name}} <a href="" ng-click="showme=true"> Show - </a><a href="" ng-click="showme=false">Hide</a>
                <div class="placedetails">
                    <!--<br>-->
                    <p ng-show="showme"><img class="details" ng-src={{beach.image}}></p>
                    <p ng-show="showme"> {{beach.description}}</p>
                    <p ng-show="showme"> Website: <a href={{beach.website}}>{{beach.website}}</a></p>
                    <p ng-show="showme"> Hours: {{beach.hours}}</p>
                    <p ng-show="showme"><i class="fa fa-location-arrow fa-2x"></i>
                        <a href={{beach.location}}>Driving Directions</a>
                    </p>
                </div>
            </li>
        </ol>
    </div>
</body>

</html>
