<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<!--<body ng-app="dayOutApp">-->
<!--fonts awesome-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="font-awesome-4.3.0/css/font-awesome.min.css">

<body>
    <div id="restaurants" ng-controller="RestaurantsListCtrl as restaurants">
        <ol ng-show="tab === 3"><i class="fa fa-cutlery fa-2x"></i> Restaurants:
            <li ng-repeat="restaurant in restaurants | filter:query | orderBy:'name'"> {{restaurant.name}} <a href="" ng-click="showme=true"> Show - </a><a href="" ng-click="showme=false">Hide</a>
                <div class="placedetails">
                    <p ng-show="showme"><img class="details" ng-src={{restaurant.image}}></p>
                    <p ng-show="showme">{{restaurant.description}}</p>
                    <p ng-show="showme"> Website: <a href={{restaurant.website}}>{{restaurant.website}}</a></p>
                    <p ng-show="showme"> Hours: {{restaurant.hours}}</p>
                    <p ng-show="showme"><i class="fa fa-location-arrow fa-2x"></i>
                        <a href={{restaurant.location}}> Driving Directions</a>
                    </p>
                </div>
            </li>
        </ol>
    </div>
</body>

</html>
